<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi! I'm Karina<br />
        (Kern to my friends).</h1>
        <p>Nice to meet you!</p>
      </header>
      <p>Currently located in the (East) Bay Area, California. Daylighting as an engineer. Outdoor enthusiast and lover of water and sunshine (basically a houseplant). 
      </p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/banner.jpg" alt="" />
    </span>
  </section>
