<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>

        <!-- Main Menu -->    
        {% assign ordered_pages = site.pages | where_exp: "page", "page.sidebar_order != nil" %}
        {% assign sorted_ordered_pages = ordered_pages | sort: "sidebar_order" %}

        {% assign unordered_pages = site.pages | where_exp: "page", "page.sidebar_order == nil" %}
        {% assign sorted_unordered_pages = unordered_pages | sort_natural: "title" %}

        {% assign all_sorted_pages = sorted_ordered_pages | concat: sorted_unordered_pages %}

        {% for page in all_sorted_pages %}
          {% if page.title and page.main_exclude != true %}
            <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}

        <!--Backpacking Submenu-->
        {% assign bktrips = site.pages | where: "layout", "bktrip" | where: "submenu", "2025" | sort: "date" %}
        <li>
          <span class="opener">2025 Backpacking Trips</span>
          <ul>
            {% for page in site.pages %}
              {% if page.layout == "bktrip" and page.submenu == "2025" %}
                <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
                             
 <!--           
            <li>
              <span class="opener">Backpacking trips</span>
              <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
              </ul>
            </li>
            <li><a href="#">Etiam Dolore</a></li>
            <li><a href="#">Adipiscing</a></li>
            <li>
              <span class="opener">Another Submenu</span>
              <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
              </ul>
            </li>
            <li><a href="#">Maximus Erat</a></li>
            <li><a href="#">Sapien Mauris</a></li>
            <li><a href="#">Amet Lacinia</a></li>
          </ul>
        </nav>
-->

<!-- Section

        <section>
          <header class="major">
            <h2>Ante interdum</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section>

      -->
      <!-- Section 
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.phone }}</li>
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
            {{ site.country }}</li>
          </ul>
        </section>

        -->

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright"><br>&copy; {{ site.title }}. All rights reserved. <br><br> Design: <a href="https://html5up.net">HTML5 UP</a> <br> Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.</p>
        </footer>

    </div>
  </div>
