---
layout: page
---
<h2> Trip Specs </h2>

<div class="table-wrapper" style="display: flex; justify-content: left">
    <table class="alt" style="width: auto; border-collapse: collapse;">
        <tbody>
            <tr>
                <td>Distance</td>
                <td>{{page.x}}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{page.type}}</td>
            </tr>
            <tr>
                <td>Trip Length</td>
                <td>{{page.triplength}}</td>
            </tr>
                <tr>
                <td>Season</td>
                <td>{{page.season}}</td>
            </tr>
            <tr>
                <td>Elevation gain</td>
                <td> {{page.z}}</td>
            </tr>
            <tr>
                <td>Starting elevation</td>
                <td>{{page.z_start}}.</td>
            </tr>
            <tr>
                <td>Max elevation</td>
                <td>{{page.z_max}}</td>
            </tr>
            <tr>
                <td>Permit(s) needed</td>
                <td>{{page.permit}}</td>
            </tr>
            <tr>
                <td>Highlights</td>
                <td>{{page.highlights}}</td>
            </tr>
        </tbody>
    </table>
</div>